.swiper-holder {
  @apply relative mb-16;
  }
  .swiper-button-next,
  .swiper-button-prev {
    @apply z-10 inline-block rounded-full border-2 border-opacity-20 border-white p-0 text-center min-h-0;
    @apply h-10 w-10 !important;
    top: calc(100% + 50px) !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .swiper-button-next,
  .swiper-button-next:after,
  .swiper-button-prev,
  .swiper-button-prev:after {
    @apply text-white;
    transition-property: color, background-color, border-color, fill, stroke,
      opacity, box-shadow, transform, filter, -webkit-text-decoration-color,
      -webkit-backdrop-filter;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
      backdrop-filter;
    transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
  }
  .swiper-button-prev:hover {
    @apply border-primary;}
  .swiper-button-next:hover,
  .swiper-button-next:after,
  .swiper-button-prev:after {
    @apply text-sm leading-10 !important;
  }
  .swiper-button-next:hover,
  .swiper-button-next:hover:after,
  .swiper-button-prev:hover,
  .swiper-button-prev:hover:after {
    @apply text-primary;
  }
  .swiper-button-prev {
    @apply left-auto !important;
    right: calc(50% + 10px) !important;
  }
  .swiper-button-next {
    @apply right-auto !important;
    left: calc(50% + 10px) !important;
  }