label {
    @apply mb-[0.375rem] block text-sm font-normal text-zinc-50;
  }
  button,
  input:not([type="checkbox"], [type="radio"]),
  select {
    height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af;
  }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    opacity: 1;
    color: #9ca3af;
  }
  input::placeholder,
  textarea::placeholder {
    opacity: 1;
    color: #9ca3af;
  }
  button,
  hr,
  input,
  select,
  textarea {
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
  }
  button,
  input,
  select,
  textarea {
    min-height: 45px;
    width: 100%;
    border-radius: 0.25rem;
    border-width: 1px;
    --tw-border-opacity: 0.1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.1;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-text-opacity: 1;
    color: rgb(191 190 203 / var(--tw-text-opacity));
    transition-property: color, background-color, border-color, fill, stroke,
      opacity, box-shadow, transform, filter, -webkit-text-decoration-color,
      -webkit-backdrop-filter;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
      backdrop-filter;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
      backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
  }
  button::-moz-placeholder,
  input::-moz-placeholder,
  select::-moz-placeholder,
  textarea::-moz-placeholder {
    color: rgb(191 190 203 / var(--tw-text-opacity));
    --tw-text-opacity: 0.5;
  }
  button:-ms-input-placeholder,
  input:-ms-input-placeholder,
  select:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: rgb(191 190 203 / var(--tw-text-opacity));
    --tw-text-opacity: 0.5;
  }
  button::placeholder,
  input::placeholder,
  select::placeholder,
  textarea::placeholder {
    color: rgb(191 190 203 / var(--tw-text-opacity));
    --tw-text-opacity: 0.5;
  }
  button:active,
  button:focus,
  input:active,
  input:focus,
  select:active,
  select:focus,
  textarea:active,
  textarea:focus {
    --tw-border-opacity: 1;
    border-color: rgb(114 226 174 / var(--tw-border-opacity));
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  textarea {
    min-height: 150px;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    vertical-align: middle;
  }